@import "../lib/common";
@import "compass/css3/transition";

.a9s_product_link {
  display: inline;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 11px;
  @include font-default;
  padding-left: 1px;
  padding-right: 2px;
  font-size: 10px;
  color: #333232;
  background-color: #f0f0f0;
  padding: 2px 3px;

  @include transition(all 0.2s);

  &:hover {
    color: #222;
    background-color: #e0e0e0;
  }
}
